# Project

## 1. Process Data
### 1.1 Read data from CVS

In [3]:
import inspect
import pprint
import numpy as np 
import pandas as pd 
import os
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import statsmodels.api as sm
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
import joblib

df = pd.read_csv("realtor-data.csv")

In [6]:
df.tail()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
1004961,for_sale,2.0,1.0,NaN,Bronxville,New York,10708.0,950.0,NaN,249000.0
1004962,for_sale,3.0,2.0,0.14,Port Chester,New York,10573.0,1806.0,1994-01-13,599000.0
1004963,for_sale,4.0,4.0,0.36,Park Ridge,New Jersey,7656.0,NaN,2004-05-12,749000.0
1004964,for_sale,3.0,2.0,0.21,Yonkers,New York,10710.0,1797.0,2014-05-06,640000.0
1004965,for_sale,NaN,1.0,NaN,Flushing,New York,11355.0,NaN,2016-05-16,226000.0